<app-navbar></app-navbar>

<div class="home-container">
    <h1>Bienvenido a Fondo de Ideas</h1>
    <p>Conecta emprendedores e inversionistas en un solo lugar.</p>
  
    <div class="projects-grid">
      <div class="project-card" *ngFor="let project of featuredProjects">
        <img [src]="project.url_logo" [alt]="project.nombre_proyecto" />
        <h3>{{ project.nombre_proyecto }}</h3>
        <p>{{ project.descripcion }}</p>
        <button routerLink="/proyectos/{{ project.id_proyecto }}">Ver Más</button>
      </div>
    </div>
  </div>
  
