* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    flex: 1;
    display: flex;
    flex-direction: column;
}

/* Encabezado */
header {
    background-color: #115571; 
    color: #fff;
    padding: 1rem;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #115571;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 50px;
    margin-right: 10px;
}

.title {
    font-size: 2rem;
    color: #fff;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Sección Promo */
.promo {
    color: #fff;
    padding: 6rem 2rem;
    text-align: center;
    position: relative;
}

.promo::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(17, 85, 113, 0.85);
    z-index: 1;
}

.promo-content {
    position: relative;
    z-index: 2;
}

.promo h1 {
    font-size: 3.5rem;
    margin-bottom: 1rem;
    color: #FFFFFF;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

.promo p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    color: #f0f0f0;
}

.btn-promo {
    background-color: #31afb4;
    padding: 1rem 2rem;
    font-size: 1.2rem;
    border-radius: 50px;
    color: #fff;
    text-decoration: none;
}

.btn-promo:hover {
    background-color: #218a90;
}

/* Sección de info */
.caracteristicas {
    padding: 2rem;
    text-align: center;
    background-color: #f4f4f4;
}

.caracteristicas-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.caracteristica {
    margin: 1rem;
    width: 30%;
    min-width: 250px;
    text-align: center;
    transition: transform 0.3s ease; /* Suave efecto al mover el cursor sobre la característica */
}

.caracteristica:hover {
    transform: translateY(-10px); /* Levanta ligeramente la tarjeta al pasar el ratón */
}

.caracteristica img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra alrededor de la imagen */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Suave animación al hacer hover */
}

.caracteristica img:hover {
    transform: scale(1.1); /* Agrandar la imagen ligeramente al hacer hover */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Mayor sombra al hacer hover */
}

.caracteristica h3 {
    font-size: 1.5rem;
    color: #115571;
    margin-bottom: 0.5rem;
}

.caracteristica p {
    color: #555;
    font-size: 1.1rem;
}

/* Testimonios */
.testimonios {
    padding: 2rem;
    text-align: center;
    background-color: #fff;
}

.testimonio-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.testimonio {
    width: 45%;
    background-color: #f9f9f9;
    padding: 1.5rem;
    margin: 1rem;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.testimonio p {
    font-style: italic;
    color: #555;
}

.testimonio h4 {
    margin-top: 1rem;
    color: #115571;
}

.cta {
    padding: 3rem;
    text-align: center;
    background-color: #115571;
    color: #fff;
}


.btn-cta:visited {
    color: #fff;
}

/*Registro */

.registro h2 {
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 2px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.registro-form-container {
    max-width: 500px;
    margin: 0 auto;
    background-color: #fff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.registro-form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 1.5rem;
}

.form-group label {
    font-weight: bold;
    margin-bottom: 0.5rem;
    display: block;
    color: #115571;
}

.form-group input,
.form-group select {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
}

.form-group input:focus,
.form-group select:focus {
    border-color: #31afb4;
    outline: none;
}

.btn-submit {
    background-color: #31afb4;
    color: #fff;
    padding: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.btn-submit:hover {
    background-color: #218a90;
}

.registro p {
    text-align: center;
    margin-top: 1rem;
}

.registro p a {
    color: #31afb4;
    text-decoration: none;
}

.registro p a:hover {
    text-decoration: underline;
}


/* Inicio de sesión */
.login-form-container {
    max-width: 500px;
    margin: 0 auto;
    background-color: #fff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1)
}

.login h2 {
    font-size: 2rem; 
    font-weight: bold;
    letter-spacing: 2px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); 
    text-align: center;
}

.login-form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 1.5rem;
}

.form-group label {
    font-weight: bold;
    margin-bottom: 0.5rem;
    display: block;
    color: #115571;
}

.form-group input {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
}

.form-group input:focus {
    border-color: #31afb4;
    outline: none;
}

.btn-submit {
    background-color: #31afb4;
    color: #fff;
    padding: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.btn-submit:hover {
    background-color: #218a90;
}

.login p {
    text-align: center;
    margin-top: 1rem;
}

.login p a {
    color: #31afb4;
    text-decoration: none;
}

.login p a:hover {
    text-decoration: underline;
}



/* Footer */
footer {
    background-color: #115571;
    color: #fff;
    text-align: center;
    padding: 1rem;
    margin-top: auto;
}

footer p {
    margin: 0;
}

