* {
  margin: 0px;
}

html {
  font-size: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  font-size: 32px;
  background-color: #fafafa;
  display: grid;
  grid-template-areas:
    "encabezado encabezado"
    "aside main"
    "footer footer";
}

header {
  background-color: #981010;
  padding: 1em; /* rem* 1em=16px */
  grid-area: encabezado;
}

main {
  background-color: #109810;
  grid-area: main;
}

nav {
  background-color: rgba(150, 150, 150, 0.4);
  & > ul {
    display: flex;
    justify-content: space-between;
    & > li{
        list-style: none;
        text-transform: capitalize;
        &>a{
            line-height: 3em;
            text-decoration: none;
            &:hover{
                background-color: #109810;
                color: white;
            }
            &:active{
                background-color: white;
                color: black;
            }
        }
    }
  }
}
aside {
  background-color: #388050;
  grid-area: aside;
}
footer {
  overflow-y: auto;
  background-color: #989898;
  grid-area: footer;
}

p.bonito {
  background-color: red;
  margin: 10px;
  display: block;
}

.bonito {
  background-color: yellowgreen;
}

#final {
}

a:active {
}
