
<header>
    <nav>
        <div class="logo">
            <img src="../../../assets/img/logo.png" alt="Logo Fondo de Ideas" class="logo-img">
            <h1 class="title">Fondo de Ideas</h1>
        </div>
        <ul>
            <li><a href="#inicio">Inicio</a></li>
            <li><a href="#proyectos">Proyectos</a></li>
            <li><a href="../pages/registro.html">Registro</a></li>
            <li><a href="../pages/login.html">Iniciar Sesiónxx</a></li>
        </ul>
    </nav>
</header>